name: Backwards Compatibility

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: read

env:
  OPENTELEMETRY_SWIFT_REPO: open-telemetry/opentelemetry-swift
  PROJECT_NAME: opentelemetry-swift-Package

jobs:
  get-release:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get-release.outputs.tag }}
    steps:
      - name: Get latest opentelemetry-swift release
        id: get-release
        run: |
          LATEST=$(curl -s https://api.github.com/repos/${{ env.OPENTELEMETRY_SWIFT_REPO }}/releases/latest | jq -r .tag_name)
          echo "tag=$LATEST" >> "$GITHUB_OUTPUT"

  macOS:
    needs: get-release
    runs-on: macos-15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: opentelemetry-swift-core
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.OPENTELEMETRY_SWIFT_REPO }}
          ref: ${{ needs.get-release.outputs.tag }}
          path: opentelemetry-swift
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: 16.4
      - name: Override dependency
        run: |
          cd opentelemetry-swift
          swift package edit opentelemetry-swift-core --path ../opentelemetry-swift-core
      - name: Build and Test
        run: |
          cd opentelemetry-swift
          swift test

  iOS:
    needs: get-release
    runs-on: macos-15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: opentelemetry-swift-core
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.OPENTELEMETRY_SWIFT_REPO }}
          ref: ${{ needs.get-release.outputs.tag }}
          path: opentelemetry-swift
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: 16.4
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Override dependency
        run: |
          cd opentelemetry-swift
          swift package edit opentelemetry-swift-core --path ../opentelemetry-swift-core
      - name: Build and Test
        run: |
          cd opentelemetry-swift
          set -o pipefail && xcodebuild -configuration Debug \
            -destination 'platform=iOS Simulator,name=iPhone 16' \
            -scheme ${{ env.PROJECT_NAME }} \
            -workspace . \
            test | xcbeautify

  tvOS:
    needs: get-release
    runs-on: macos-15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: opentelemetry-swift-core
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.OPENTELEMETRY_SWIFT_REPO }}
          ref: ${{ needs.get-release.outputs.tag }}
          path: opentelemetry-swift
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: 16.4
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Override dependency
        run: |
          cd opentelemetry-swift
          swift package edit opentelemetry-swift-core --path ../opentelemetry-swift-core
      - name: Build and Test
        run: |
          cd opentelemetry-swift
          set -o pipefail && xcodebuild -configuration Debug \
            -destination 'platform=tvOS Simulator,name=Apple TV 4K (3rd generation)' \
            -scheme ${{ env.PROJECT_NAME }} \
            -workspace . \
            test | xcbeautify

  watchOS:
    needs: get-release
    runs-on: macos-15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: opentelemetry-swift-core
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.OPENTELEMETRY_SWIFT_REPO }}
          ref: ${{ needs.get-release.outputs.tag }}
          path: opentelemetry-swift
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: 16.4
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Override dependency
        run: |
          cd opentelemetry-swift
          swift package edit opentelemetry-swift-core --path ../opentelemetry-swift-core
      - name: Build and Test
        run: |
          cd opentelemetry-swift
          set -o pipefail && xcodebuild -configuration Debug \
            -destination 'platform=watchOS Simulator,name=Apple Watch Series 10 (46mm)' \
            -scheme ${{ env.PROJECT_NAME }} \
            -workspace . \
            test | xcbeautify

  visionOS:
    needs: get-release
    runs-on: macos-15
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          path: opentelemetry-swift-core
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.OPENTELEMETRY_SWIFT_REPO }}
          ref: ${{ needs.get-release.outputs.tag }}
          path: opentelemetry-swift
      - uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: 16.4
      - name: Install xcbeautify
        run: brew install xcbeautify
      - name: Override dependency
        run: |
          cd opentelemetry-swift
          swift package edit opentelemetry-swift-core --path ../opentelemetry-swift-core
      - name: Build and Test
        run: |
          cd opentelemetry-swift
          set -o pipefail && xcodebuild -configuration Debug \
            -destination 'platform=visionOS Simulator,name=Apple Vision Pro' \
            -scheme ${{ env.PROJECT_NAME }} \
            -workspace . \
            test | xcbeautify
